#exploring{
    display: grid;
    grid-template-columns: auto auto;
}


.selectionBar{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: fit-content;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    padding-block: 20px;
}


.selectionBar input{
    background-color: transparent;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.522);
    font-size: 15px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 200px;
    min-height: 20vh;
    text-align: top;
    font-weight: 600;
    border-radius: 10px;
}


.selectionBar input::placeholder{
    color: rgba(255, 255, 255, 0.602);
}

.verizon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151212;
    color: #fff;
    padding: 10px 40px;
    position: relative;
}

.left-section, .right-section {
    display: flex;
    align-items: center;
}

.personal-business-toggle {
    display: flex;
    align-items: center;
}

.personal-business-toggle span {
    margin-right: 20px;
    cursor: pointer;
}

.personal-business-toggle .selected {
    color: red; 
    font-weight: bold;
}

.vertical-divider {
    height: 50%;
    width: 1px;
    background-color: #ffffff;
    margin: 0 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.nav-links li a:hover {
    color: red;
}

.right-section > * {
    margin-right: 20px;
}

.sign-in-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
}

.sign-in-btn:hover {
    color: red;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #2d2d2d;
    border-radius: 5px;
    padding: 5px 10px;
}

.search-container i {
    margin-right: 10px;
    color: #fff;
}

.search-container input {
    background-color: transparent;
    border: none;
    color: #fff;
    transition: background-color 0.2s;
}

.language-link, .store-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.language-link:hover, .store-link:hover {
    color: red;
}