{% extends "pages/layout.html" %}
{% load static %}

{% block script %}
    <link href="{% static 'pages/index.css' %}" rel="stylesheet">
    <script src="{% static 'pages/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="exploring">
        <section class="selectionBar">
            <div class="outer_search">
                <textarea name="input" class="input" placeholder="What're you loking for?" onsubmit="AIsearch()"></textarea>
            </div>
            <div>
                <button class="submit_btn" onclick="AIsearch()"> Search </button>
            </div>
        </section>

        <section class="productsDisplay">

        </section>
        
    </div>
{% endblock %}
