{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GATORAI</title>
        <link href="{% static 'pages/layout.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>

    <body>
        <!-- implement a navbar inside nav -->
        <nav>
            NAVBAR
            <!-- navigation bar goes here -->
            <!-- make sure to add somewhat unique class/id names  -->
            <div class="A">

            </div>
            <!-- vs -->
            <div class="nav-containter">

            </div>

        </nav>
        
        {% block body %}
        {% endblock %}
    </body>
</html>